.DecoratorConfig {
  font-family: "PingFang SC", "San francisco", "-apple-system", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  font-size: 12px;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.8);
  background-color: #1b1c1f;
  -webkit-font-smoothing: antialiased;
}
.DecoratorConfig .header .header-title {
  color: #fff;
}
.DecoratorConfig .ivu-form .ivu-form-item .ivu-form-item-content .ivu-form-item .ivu-form-item-content .ivu-form-item .ivu-form-item-content #colorPickerMult .backcolor .displayColor2 {
  background-color: rgba(255, 255, 255, 0.06);
}
.DecoratorConfig .ivu-form .ivu-form-item .ivu-form-item-content .ivu-form-item .ivu-form-item-content .ivu-form-item .ivu-form-item-content #colorPickerMult .colorPanel {
  background: #444a52;
}
.DecoratorConfig .ivu-form .ivu-form-item .ivu-form-item-content .ivu-form-item .ivu-form-item-content .ivu-form-item .ivu-form-item-content #colorPickerMult .colorPanel .colorTab {
  background: #444a52;
}
.DecoratorConfig .ivu-form .ivu-form-item .ivu-form-item-content .ivu-form-item .ivu-form-item-content .ivu-form-item .ivu-form-item-content #colorPickerMult .colorPanel .colorTab .oneTab {
  background: #292e36;
  color: hsla(0, 0%, 100%, 0.72156863);
  border: none;
}
.DecoratorConfig .ivu-form .ivu-form-item .ivu-form-item-content .ivu-form-item .ivu-form-item-content .ivu-form-item .ivu-form-item-content #colorPickerMult .colorPanel .colorTab .active {
  background: #575e69;
  color: #fff;
}
.DecoratorConfig .ivu-form .ivu-form-item .ivu-form-item-content .ivu-form-item .ivu-form-item-content .ivu-form-item .ivu-form-item-content #colorPickerMult .colorPanel .colorContent .colorMult .curInputBox {
  color: #bfbfbf;
  background: #444547;
}
.DecoratorConfig .ivu-form .ivu-form-item .ivu-form-item-content .ivu-form-item .ivu-form-item-content .ivu-form-item .ivu-form-item-content #colorPickerMult .colorPanel .colorContent .colorMult .mustSameWidth {
  line-height: 16px;
}
.DecoratorConfig .ivu-form .ivu-form-item .ivu-form-item-content .ivu-form-item .ivu-form-item-content .ivu-form-item .ivu-form-item-content #colorPickerMult .colorPanel .colorContent .colorMult .color-picker .vc-chrome-saturation-wrap {
  margin-bottom: 0;
}
.DecoratorConfig .ivu-form .ivu-form-item .ivu-form-item-content .ivu-form-item .ivu-form-item-content .ivu-form-item .ivu-form-item-content #colorPickerMult .colorPanel .colorContent .colorMult .color-picker .vc-chrome-body {
  padding-top: 13px;
  background-color: #444a52;
  color: #969696;
}
.DecoratorConfig .ivu-form .ivu-form-item .ivu-form-item-content .ivu-form-item .ivu-form-item-content .ivu-form-item .ivu-form-item-content #colorPickerMult .colorPanel .colorContent .colorMult .color-picker .vc-chrome-body .vc-chrome-fields-wrap input {
  color: #fff !important;
  background-color: #444547;
  border: 1px solid #525252 !important;
  opacity: 0.5;
}
.DecoratorConfig .ivu-form .ivu-form-item .ivu-form-item-content .ivu-form-item .ivu-form-item-content .ivu-form-item .ivu-form-item-content #colorPickerMult .colorPanel .colorContent .colorMult .color-picker .vc-chrome-body .vc-chrome-fields-wrap .vc-chrome-fields .vc-chrome-field .vc-editable-input .vc-input__label {
  color: #969696 !important;
}
.DecoratorConfig .ivu-form .ivu-form-item .ivu-form-item-content .ivu-form-item .ivu-form-item-content .ivu-form-item .ivu-form-item-content #colorPickerMult .colorPanel .colorContent .color-picker .vc-chrome-saturation-wrap {
  margin-bottom: 0;
}
.DecoratorConfig .ivu-form .ivu-form-item .ivu-form-item-content .ivu-form-item .ivu-form-item-content .ivu-form-item .ivu-form-item-content #colorPickerMult .colorPanel .colorContent .color-picker .vc-chrome-body {
  padding-top: 13px;
  background-color: #444a52;
  color: #969696;
}
.DecoratorConfig .ivu-form .ivu-form-item .ivu-form-item-content .ivu-form-item .ivu-form-item-content .ivu-form-item .ivu-form-item-content #colorPickerMult .colorPanel .colorContent .color-picker .vc-chrome-body .vc-chrome-fields-wrap input {
  color: #fff !important;
  background-color: #444547;
  border: 1px solid #525252 !important;
  opacity: 0.5;
}
.DecoratorConfig .ivu-form .ivu-form-item .ivu-form-item-content .ivu-form-item .ivu-form-item-content .ivu-form-item .ivu-form-item-content #colorPickerMult .colorPanel .colorContent .color-picker .vc-chrome-body .vc-chrome-fields-wrap .vc-chrome-fields .vc-chrome-field .vc-editable-input .vc-input__label {
  color: #969696 !important;
}
.DecoratorConfig .ivu-form .ivu-form-item .ivu-form-item-content .ivu-form-item .ivu-form-item-content .ivu-form-item .ivu-form-item-content #colorPickerMult .colorPanel .background {
  background: #444a52;
}
.ivu-form .ivu-form-item .config-title-components .config-title-components-label {
  color: #fff;
}
.ivu-form .ivu-form-item .ivu-form-item-content .ivu-radio-group .ivu-radio-wrapper .ivu-radio-checked .ivu-radio-inner:after {
  left: 50% !important;
  top: 50% !important;
}
.ivu-form .ivu-form-item .ivu-form-item-content .config-dec-indexblock .config-dec-indexblock-title {
  color: #fff;
}
.ivu-form .ivu-form-item .ivu-switch {
  border: none;
}
.ivu-form .ivu-form-item .ivu-btn {
  color: rgba(255, 255, 255, 0.9);
  border: none;
  line-height: 23px;
}
body .v-transfer-dom .ivu-modal-header {
  border: none;
}
body .v-transfer-dom .ivu-modal-body {
  overflow-y: inherit;
}
body .v-transfer-dom .ivu-modal-body .line .action .ivu-btn {
  border: none;
  background-color: rgba(255, 255, 255, 0.04);
  display: flex;
  justify-content: center;
  align-items: center;
}
body .v-transfer-dom .ivu-modal-body .line .ivu-btn {
  line-height: 15px;
}
body .v-transfer-dom .ivu-modal-body .columns #colorPickerMult .backcolor .ivu-btn {
  background-color: rgba(255, 255, 255, 0.04);
  border: none;
}
body .v-transfer-dom .ivu-modal-body .columns #colorPickerMult .colorPanel {
  background: #444a52;
  width: 243px;
}
body .v-transfer-dom .ivu-modal-body .columns #colorPickerMult .colorPanel .colorTab {
  background: #444a52;
}
body .v-transfer-dom .ivu-modal-body .columns #colorPickerMult .colorPanel .colorTab .oneTab {
  background: #292e36;
  color: hsla(0, 0%, 100%, 0.72156863);
  border: none;
}
body .v-transfer-dom .ivu-modal-body .columns #colorPickerMult .colorPanel .colorTab .active {
  background: #575e69;
  color: #fff;
}
body .v-transfer-dom .ivu-modal-body .columns #colorPickerMult .colorPanel .colorContent .color-picker {
  box-shadow: none;
}
body .v-transfer-dom .ivu-modal-body .columns #colorPickerMult .colorPanel .colorContent .colorMult .curInputBox {
  color: #bfbfbf;
  background: #444547;
}
body .v-transfer-dom .ivu-modal-body .columns #colorPickerMult .colorPanel .colorContent .colorMult .color-picker .vc-chrome-saturation-wrap {
  margin-bottom: 0;
}
body .v-transfer-dom .ivu-modal-body .columns #colorPickerMult .colorPanel .colorContent .colorMult .color-picker .vc-chrome-body {
  padding-top: 13px;
  background-color: #444a52;
  color: #969696;
}
body .v-transfer-dom .ivu-modal-body .columns #colorPickerMult .colorPanel .colorContent .colorMult .color-picker .vc-chrome-body .vc-chrome-fields-wrap input {
  color: #fff !important;
  background-color: #444547;
  border: 1px solid #525252 !important;
  opacity: 0.5;
}
body .v-transfer-dom .ivu-modal-body .columns #colorPickerMult .colorPanel .colorContent .colorMult .color-picker .vc-chrome-body .vc-chrome-fields-wrap .vc-chrome-fields .vc-chrome-field .vc-editable-input .vc-input__label {
  color: #969696 !important;
}
body .v-transfer-dom .ivu-modal-body .columns #colorPickerMult .colorPanel .colorContent .color-picker .vc-chrome-saturation-wrap {
  margin-bottom: 0;
}
body .v-transfer-dom .ivu-modal-body .columns #colorPickerMult .colorPanel .colorContent .color-picker .vc-chrome-body {
  padding-top: 13px;
  background-color: #444a52;
  color: #969696;
}
body .v-transfer-dom .ivu-modal-body .columns #colorPickerMult .colorPanel .colorContent .color-picker .vc-chrome-body .vc-chrome-fields-wrap input {
  color: #fff !important;
  background-color: #444547;
  border: 1px solid #525252 !important;
  opacity: 0.5;
}
body .v-transfer-dom .ivu-modal-body .columns #colorPickerMult .colorPanel .colorContent .color-picker .vc-chrome-body .vc-chrome-fields-wrap .vc-chrome-fields .vc-chrome-field .vc-editable-input .vc-input__label {
  color: #969696 !important;
}
body .v-transfer-dom .ivu-modal-body .columns #colorPickerMult .colorPanel .background {
  background: #444a52;
}
body .v-transfer-dom .ivu-modal-content {
  overflow: inherit;
}
body .v-transfer-dom .ivu-modal-footer {
  background-color: #1d1e21;
}
body .ivu-select-dropdown .ivu-color-picker-picker .ivu-color-picker-confirm .ivu-btn {
  line-height: 19px;
}
body .ivu-select-dropdown .ivu-color-picker-picker .ivu-color-picker-confirm .ivu-color-picker-confirm-color .ivu-input-wrapper .ivu-input-group-outer {
  width: 88%;
}
body .ivu-modal-mask {
  background-color: rgba(13, 13, 13, 0.8);
}
